 <!-- <p>emp-list works!</p> -->

 <div class="container" style="margin-top: 50px;">
    <a type="button" routerLink="/productform" class="btn btn-warning">Add Product</a>

    &nbsp;
    &nbsp;
    <a routerLink="" type="button" class="btn btn-warning">Home</a>
    <br>
    <br>
    <h4>Product List</h4>
    <br>
    <table class="table  table-bordered table-stripped ">
        <tr>
            <th>ID</th>
            <th>SKU</th>
            <th>PRODUCT NAME</th>
            <th>DESCRIPTION</th>
            <th>UNIT PRICE</th>
            <th>IMAGE URL</th>
            <th>UNITS IN STOCK</th>
            <th>DATE CREATED</th>
            <th>LAST UPDATE</th>
            <th>CATEGORY ID</th>
            
            </tr>

        <tr *ngFor="let pro of products" >
            <td>{{pro.id}}</td>
            <td>{{pro.sku}}</td>
            <td>{{pro.proname}}</td>
            <td>{{pro.description}}</td>
            <td>{{pro.unitprice}}</td>
            <td><img src='{{pro.imageurl}}' width="100" height="100"></td>
            <td>{{pro.unitsinstock}}</td>
            <td>{{pro.datecreated}}</td>
            <td>{{pro.lastupdate}}</td>
            <td>{{pro.categoryid}}</td>
            
        </tr>
    </table>




